<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />

    <title>company register</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="images/photo_2022-12-26_09-40-43.jpg" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" dir="rtl" style="font-size: 20px;">
                <li class="nav-item active">
                    <a class="nav-link" href="#home">الرئيسية <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#info">حول</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#help">التواصل</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="text-align: right;">
                        <a class="dropdown-item" href="#">إنشاء حساب</a>
                        <a class="dropdown-item" href="#">تسجيل الدخول</a>
                        <a class="dropdown-item" href="#">تسجيل الخروج</a>
                    </div>
                </li>

            </ul>
            <div class="icons d-flex" style=" padding: 20px; ">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <div class="icon d-flex"><i class="bx bx-search"></i></div>
                </form>
                <div class="icon user-icon d-flex">
                    <i class="bx bx-user"></i>
                </div>

            </div>
        </div>
    </nav>
    <section class="b1">
        <div class="registration-container">
            <div class="registration-header" dir="rtl">
                <h2 style="text-align:right;">التسجيل </h2>
                <span class="divider"></span>
            </div>
            <div class="registration-body">
                <form>
                    <div class="registration-box">
                        <div class="input-box" dir="rtl" style="text-align:right;">
                            <label>الموقع </label>
                            <input type="text" placeholder="أدخل موقع الشركة" class="input-field">
                        </div>
                        <div class="input-box" dir="rtl" style="text-align:right;">
                            <label> اسم الشركة</label>
                            <input type="text" placeholder="أدخل اسم الشركة" class="input-field">
                        </div>
                        <div class="input-box" dir="rtl" style="text-align:right;">
                            <label>تأكيد الايميل</label>
                            <input type="email" placeholder="قم بتأكيد ايميلك" class="input-field">
                        </div>
                        <div class="input-box" dir="rtl" style="text-align:right;">
                            <label>الايميل</label>
                            <input type="email" placeholder="أدخل بريدك الالكتروني" class="input-field">
                        </div>
                        <div class="input-box" dir="rtl" style="text-align:right;">
                            <label>تأكيد كلمة السر</label>
                            <input type="password" placeholder="قم بتأكيد كلمة السر" class="input-field">
                        </div>
                        <div class="input-box" dir="rtl" style="text-align:right;">
                            <label>كلمة السر</label>
                            <input type="password" placeholder="أدخل كلمة السر" class="input-field">
                        </div>
                        <div class="input-box" dir="rtl" style="text-align:right;">
                            <label> نبذة عن الشركة</label>
                            <input type="text" placeholder="أدخل معلومات عن الشركة" class="input-field">
                        </div>
                        <div class="input-box" dir="rtl" style="text-align:right;">
                            <label>رقم التواصل</label>
                            <input type="number" placeholder="أدخل رقم التواصل" class="input-field">
                        </div>
                        <div class="input-box" dir="rtl" style="text-align:right;">
                            <label>صورة للشركة </label>
                            <input type="file" placeholder="أدخل صورة للشركة" class="input-field">
                        </div>
                        <div class="input-box" dir="rtl" style="text-align:right;">
                            <label>صور للمنتجات  </label>
                            <input type="file" placeholder="أدخل صور للمنتجات " class="input-field">
                        </div>
                    </div>
                    <button class="btn-register">سجل الآن</button>
                </form>
            </div>
            <div class="registration-footer">
                <h3>سيتم مراجعة طلبك في غضون 24 ساعة من تاريخ الطلب</h3>
            </div>
        </div>
    </section>
    <section id="footer">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i
                                    class="fa fa-angle-double-right"></i>Imprint</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i
                                    class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                </hr>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
                    <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
                </div>
                </hr>
            </div>
        </div>
    </section>




    <!-- Including Jquery -->
    <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="assets/js/vendor/jquery.cookie.js"></script>
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/wow.min.js"></script>
    <!-- Including Javascript -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/lazysizes.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>