<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- belle/cart-variant1.html   11 Nov 2019 12:44:31 GMT -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashbord </title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
</head>

<body class="page-template belle cart-variant1">

    <div class="pageWrapper">
        <!--Search Form Drawer-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="images/photo_2022-12-26_09-40-43.jpg" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav" dir="rtl" style="font-size: 20px;">
                    <li class="nav-item active">
                        <a class="nav-link" href="../main/main.html">الرئيسية <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../main/main.html">حول</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../main/main.html">التواصل</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="text-align: right;">
                            <a class="dropdown-item" href="../register/register.html">إنشاء حساب</a>
                            <a class="dropdown-item" href="../login/login.html">تسجيل الدخول</a>
                            <a class="dropdown-item" href="#">تسجيل الخروج</a>
                        </div>
                    </li>

                </ul>
                <div class="icons d-flex" style=" padding: 20px; ">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <div class="icon d-flex"><i class="bx bx-search"></i></div>
                    </form>
                    <div class="icon user-icon d-flex">
                        <a href="../user profile/user profile.html">
                            <i class="bx bx-user"></i></a>
                    </div>

                </div>
            </div>
        </nav>
        <!--Body Content-->
        <div id="page-content">
            <!--Page Title-->
            <div class="page section-header text-center">
                <div class="page-title">
                    <div class="wrapper">
                        <h1 class="page-width">بطاقة التسوق</h1>
                    </div>
                </div>
            </div>
            <!--End Page Title-->

            <main class="main">
                <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                    <div class="container">
                        <h1 class="page-title">Dashbord</h1>
                    </div>
                    <!-- End .container -->
                </div>
                <!-- End .page-header -->
                <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                    <div class="container">
                        <ol class="breadcrumb">

                        </ol>
                    </div>
                    <!-- End .container -->
                </nav>
                <!-- End .breadcrumb-nav -->

                <div class="page-content">
                    <div class="dashboard">
                        <div class="container">
                            <div class="row">
                                <aside class="col-md-4 col-lg-3">
                                    <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">أحداث</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">تعليقات</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">إحصائيات</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">حول الموقع</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">الرعاة</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab-company-link" data-toggle="tab" href="#tab-company" role="tab" aria-controls="tab-company" aria-selected="false">الشركات</a>
                                        </li>
                                    </ul>
                                </aside>
                                <!-- End .col-lg-3 -->

                                <div class="col-md-8 col-lg-9">
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                                                <form action="#">
                                                    <div class="wishlist-table table-content table-responsive">
                                                        <table class="table table-bordered">
                                                            <thead style="text-align: right; font-size: 18px;">
                                                                <tr>

                                                                    <th class="product-subtotal text-center alt-font"> </th>


                                                                    <th class="product-name alt-font" style="font-size: 25px;">الحدث</th>


                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="product-subtotal text-center"><button type="button" class="btn btn-small"> حذف الحدث</button>
                                                                        <button type="button" class="btn btn-small"> تعديل الحدث</button>
                                                                    </td>


                                                                    <td class="product-name" style="text-align: right;">
                                                                        <h1 class="no-margin">معالجة لبية</h1>
                                                                        <h2 class="h2">الدكتور محمد المحمد</h2>
                                                                        <h2 class="h2"><span>15/6/2023</span> <span>،2:00pm</span> </h2>
                                                                        <h2 class="h2"><span>المدة :ساعتان</span> <span>،الموقع:المدرج</span></h2>
                                                                        <p>سيشهد الملتقى العلمي الاول عرضاُ لأحدث المستجدات والتطورات في تشخيص وعلاج أمراض الأسنان<br> والتعرف على احدث التقنيات العلمية في هذا المجال .
                                                                        </p>

                                                                    </td>



                                                                </tr>
                                                                <tr>
                                                                    <td class="product-subtotal text-center"><button type="button" class="btn btn-small"> حذف الحدث</button>
                                                                        <button type="button" class="btn btn-small"> تعديل الحدث</button>
                                                                    </td>


                                                                    <td class="product-name" style="text-align: right;">
                                                                        <h1 class="no-margin">معالجة لبية</h1>
                                                                        <h2 class="h2">الدكتور محمد المحمد</h2>
                                                                        <h2 class="h2"><span>15/6/2023</span> <span>،2:00pm</span> </h2>
                                                                        <h2 class="h2"><span>المدة :ساعتان</span> <span>،الموقع:المدرج</span></h2>
                                                                        <p>سيشهد الملتقى العلمي الاول عرضاُ لأحدث المستجدات والتطورات في تشخيص وعلاج أمراض الأسنان<br> والتعرف على احدث التقنيات العلمية في هذا المجال .
                                                                        </p>

                                                                    </td>



                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td class="product-subtotal text-center"><button type="button" class="btn btn-small"> حذف الجميع</button>
                                                                        <button type="button" class="btn btn-small"> إضافة حدث</button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- .End .tab-pane -->
                                        <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                                                <form action="#">
                                                    <div class="wishlist-table table-content table-responsive">
                                                        <table class="table table-bordered">
                                                            <thead style="text-align: right; font-size: 18px;">
                                                                <tr>

                                                                    <th class="product-name alt-font" style="font-size: 25px;">التعليق</th>


                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>

                                                                    <td class="product-name" style="text-align: right;">
                                                                        <div class="friend" style="text-align: right;">
                                                                            <h3 style="font-size: 20px; font-weight: bold;">حسن الخطيب </h3><span>2:00pm</span><span>، 2/6/2023</span>
                                                                            <p style="font-size: 18px;">مقال مهم أضاف الكثير من المعلومات ،و أنا معجب جدا بهذا الموقع</p>

                                                                        </div>

                                                                    </td>

                                                                </tr>
                                                                <tr>

                                                                    <td class="product-name" style="text-align: right;">
                                                                        <div class="friend" style="text-align: right;">
                                                                            <h3 style="font-size: 20px; font-weight: bold;">حسن الخطيب </h3><span>2:00pm</span><span>، 2/6/2023</span>
                                                                            <p style="font-size: 18px;">مقال مهم أضاف الكثير من المعلومات ،و أنا معجب جدا بهذا الموقع</p>

                                                                        </div>

                                                                    </td>



                                                                </tr>
                                                                <tr>

                                                                    <td class="product-subtotal text-center"><button type="button" class="btn btn-small"> حذف الجميع</button>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                                                <form action="#">
                                                    <div class="wishlist-table table-content table-responsive">
                                                        <table class="table table-bordered">
                                                            <thead style="text-align: right; font-size: 18px;">
                                                                <tr>

                                                                    <th class="product-subtotal text-center alt-font"> </th>


                                                                    <th class="product-name alt-font" style="font-size: 25px;">الاحصائيات</th>


                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="product-subtotal text-center"><button type="button" class="btn btn-small"> حذف الاحصائية</button>
                                                                        <button type="button" class="btn btn-small"> تعديل الاحصائية</button>
                                                                    </td>


                                                                    <td class="product-name" style="text-align: right;">
                                                                        <div class="item" dir="rtl" style="text-align: right;">
                                                                            <h2 class="number">50+</h2>
                                                                            <h3 class="stats-sub-heading">منتج تم بيعه</h3>
                                                                            <p>في هذا المؤتمر تم بيع ما يزيد عن 50 منتج طبي مسوّق ,يحمل عروض خاصة بهذا المؤتمر <br>,وترويج العديد من الشركات التي أقامت هذه العروض.</p>
                                                                        </div>

                                                                    </td>



                                                                </tr>
                                                                <tr>
                                                                    <td class="product-subtotal text-center"><button type="button" class="btn btn-small"> حذف الاحصائية</button>
                                                                        <button type="button" class="btn btn-small"> تعديل الاحصائية</button>
                                                                    </td>


                                                                    <td class="product-name" style="text-align: right;">
                                                                        <div class="item" dir="rtl" style="text-align: right;">
                                                                            <h2 class="number">50+</h2>
                                                                            <h3 class="stats-sub-heading">منتج تم بيعه</h3>
                                                                            <p>في هذا المؤتمر تم بيع ما يزيد عن 50 منتج طبي مسوّق ,يحمل عروض خاصة بهذا المؤتمر <br>,وترويج العديد من الشركات التي أقامت هذه العروض.</p>
                                                                        </div>

                                                                    </td>



                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td class="product-subtotal text-center"><button type="button" class="btn btn-small"> حذف الجميع</button>
                                                                        <button type="button" class="btn btn-small"> إضافة إحصائية</button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- .End .tab-pane -->


                                        <!-- .End .tab-pane -->


                                        <!-- .End .tab-pane -->


                                        <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                                                <div class="text-center mb-4" style="font-size: 20px; margin-top: 5%;">
                                                    <h1 class="h1" style="font-weight: bold;">الملتقى العلمي لأطباء الأسنان</h1>
                                                    <div class="rte-setting">
                                                        <p><strong>موقع طبي الكتروني متخصص بأطباء الأسنان والشركات الطبية المشاركة</strong></p>
                                                        <p>أفضل ما يقدمه الموقع من منتجات طبية وعروض للملتقيات والرعاة لهذا الملتقى ,يسهل على المستخدم التواصل مع هذا الحدث والحجز للمؤتمرات بأبسط طريقة والتواصل مع الأطباء والشركات</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                                                <form action="#">
                                                    <div class="wishlist-table table-content table-responsive">
                                                        <table class="table table-bordered">
                                                            <thead style="text-align: right; font-size: 18px;">
                                                                <tr>

                                                                    <th class="product-subtotal text-center alt-font"> </th>
                                                                    <th class="product-name alt-font" style="font-size: 25px;">الشركة</th>

                                                                    <th class="product-name alt-font" style="font-size: 25px;">الرعاة</th>


                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="product-subtotal text-center">
                                                                        <button type="button" class="btn btn-small"> تعديل الراعي</button>
                                                                    </td>
                                                                    <td class="product-name" style="text-align: right;">
                                                                        <h1 class="h1"> شركة الجمال</h1>

                                                                    </td>

                                                                    <td class="product-name" style="text-align: right;">
                                                                        <h1 class="h1">الراعي الماسي</h1>

                                                                    </td>



                                                                </tr>
                                                                <tr>
                                                                    <td class="product-subtotal text-center">
                                                                        <button type="button" class="btn btn-small"> تعديل الراعي</button>
                                                                    </td>
                                                                    <td class="product-name" style="text-align: right;">
                                                                        <h1 class="h1"> شركة الجمال</h1>

                                                                    </td>

                                                                    <td class="product-name" style="text-align: right;">
                                                                        <h1 class="h1">الراعي الذهبي</h1>

                                                                    </td>



                                                                </tr>
                                                                <tr>
                                                                    <td class="product-subtotal text-center">
                                                                        <button type="button" class="btn btn-small"> تعديل الراعي</button>
                                                                    </td>
                                                                    <td class="product-name" style="text-align: right;">
                                                                        <h1 class="h1"> شركة الجمال</h1>

                                                                    </td>

                                                                    <td class="product-name" style="text-align: right;">
                                                                        <h1 class="h1">الراعي الماسي</h1>

                                                                    </td>



                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td class="product-subtotal text-center"><button type="button" class="btn btn-small"> حذف الجميع</button>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- .End .tab-pane -->
                                        <div class="tab-pane fade" id="tab-company" role="tabpanel" aria-labelledby="tab-company-link">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                                                <form action="#">
                                                    <div class="wishlist-table table-content table-responsive">
                                                        <table class="table table-bordered">
                                                            <thead style="text-align: right; font-size: 18px;">
                                                                <tr>

                                                                    <th class="product-subtotal text-center alt-font"> </th>


                                                                    <th class="product-name alt-font" style="font-size: 25px;">الشركة</th>


                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="product-subtotal text-center"><button type="button" class="btn btn-small"> قبول الشركة</button>
                                                                        <button type="button" class="btn btn-small"> عدم قبول الشركة</button>
                                                                    </td>


                                                                    <td class="product-name" style="text-align: right;">
                                                                        <h1 class="no-margin">شركة الجمال</h1>
                                                                        <h2 class="h2"> تصنيع كراسي الأسنان</h2>
                                                                        <h2 class="h2"><span>سوريا</span> <span>،حلب</span> </h2>


                                                                    </td>



                                                                </tr>
                                                                <tr>
                                                                    <td class="product-subtotal text-center"><button type="button" class="btn btn-small"> قبول الشركة</button>
                                                                        <button type="button" class="btn btn-small"> عدم قبول الشركة</button>
                                                                    </td>


                                                                    <td class="product-name" style="text-align: right;">
                                                                        <h1 class="no-margin">شركة الجمال</h1>
                                                                        <h2 class="h2"> تصنيع كراسي الأسنان</h2>
                                                                        <h2 class="h2"><span>سوريا</span> <span>،حلب</span> </h2>


                                                                    </td>



                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End .col-lg-9 -->
                            </div>
                            <!-- End .row -->
                        </div>
                        <!-- End .container -->
                    </div>
                    <!-- End .dashboard -->
                </div>
                <!-- End .page-content -->
            </main>
            <!-- End .main -->

            <!--End Body Content-->
            <section id="footer">
                <div class="container">
                    <div class="row text-center text-xs-center text-sm-left text-md-left">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <h5>Quick links</h5>
                            <ul class="list-unstyled quick-links">
                                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <h5>Quick links</h5>
                            <ul class="list-unstyled quick-links">
                                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <h5>Quick links</h5>
                            <ul class="list-unstyled quick-links">
                                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                                <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i
                                    class="fa fa-angle-double-right"></i>Imprint</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                            <ul class="list-unstyled list-inline social text-center">
                                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i
                                    class="fa fa-envelope"></i></a></li>
                            </ul>
                        </div>
                        </hr>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                            <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
                            <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
                        </div>
                        </hr>
                    </div>
                </div>
            </section>

            <!--Scoll Top-->
            <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
            <!--End Scoll Top-->

            <!-- Including Jquery -->
            <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
            <script src="assets/js/vendor/jquery.cookie.js"></script>
            <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
            <script src="assets/js/vendor/wow.min.js"></script>
            <!-- Including Javascript -->
            <script src="assets/js/bootstrap.min.js"></script>
            <script src="assets/js/plugins.js"></script>
            <script src="assets/js/popper.min.js"></script>
            <script src="assets/js/lazysizes.js"></script>
            <script src="assets/js/main.js"></script>
        </div>
</body>

<!-- belle/cart-variant1.html   11 Nov 2019 12:44:32 GMT -->

</html>