<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <script src="backend.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>LogIn</title>
</head>

<body>
    <section class="vh-100">
        <div class="container h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-sm-4 col-md-4 col-lg-6 col-xl-5">
                    <img src="images/photo_2022-12-26_09-40-43.jpg" class="img-fluid" alt="Sample image">

                </div>
                <div class="col-sm-4 col-md-4 col-lg-6 col-xl-4 offset-xl-1">
                    <form>
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start ">

                            <button type="button" class="btn btn-primary btn-floating mx-1" style="width: 10px;">
                                <i class="fab fa-facebook-f" style="margin-left: -8px !important;"></i>
                            </button>

                            <button type="button" class="btn btn-primary btn-floating mx-1" style="width: 10px;">
                                <i class="fab fa-twitter" style="margin-left: -8px !important;"></i>
                            </button>

                            <button type="button" class="btn btn-primary btn-floating mx-1" style="width: 10px;">
                                <i class="fab fa-linkedin-in" style="margin-left: -8px !important;"></i>
                            </button>

                            <p class="lead  mb-0 me-3" style=" width: 300px; font-size: 18px; font-weight: bold;" dir="rtl">قم بتسجيل الدخول بواسطة </p>
                        </div>

                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0">أو</p>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4" style="padding-bottom:20px">
                            <input type="email" id="email" class="form-control form-control-lg" placeholder="البريد الإلكتروني" style=" border: none;
                            border-bottom: 1px solid #346bba;  overflow: hidden; background: transparent;" dir="rtl" />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input type="password" id="password" class="form-control form-control-lg" placeholder="كلمة المرور" style=" border: none;
                            border-bottom: 1px solid #346bba;  overflow: hidden; background: transparent;" dir="rtl" />
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                <label class="form-check-label" for="form2Example3">
                                    تذكرني
                                </label>
                            </div>
                            <a href="#!" class="text-body">هل نسيت كلمة السر؟</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <a href="../main/main.html" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem; " id="submit">تسجيل الدخول</a>
                            <p class="small fw-bold mt-2 pt-1 mb-0">لا تملك حساب؟ <a href="#!" class="link-danger">قم
                                    بالتسجيل</a></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </section>










    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <!--Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>