<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="company profile.css">
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <title>company profile</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="images/photo_2022-12-26_09-40-43.jpg" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" dir="rtl" style="font-size: 20px;">
                <li class="nav-item active">
                    <a class="nav-link" href="../main/main.html">الرئيسية <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../main/main.html">حول</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../main/main.html">التواصل</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="text-align: right;">
                        <a class="dropdown-item" href="../register/register.html">إنشاء حساب</a>
                        <a class="dropdown-item" href="../login/login.html">تسجيل الدخول</a>
                        <a class="dropdown-item" href="#">تسجيل الخروج</a>
                    </div>
                </li>

            </ul>
            <div class="icons d-flex" style=" padding: 20px; ">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <div class="icon d-flex"><i class="bx bx-search"></i></div>
                </form>
                <div class="icon user-icon d-flex">
                    <a href="../user profile/user profile.html">
                        <i class="bx bx-user"></i></a>
                </div>

            </div>
        </div>
    </nav>
    <div class="row py-5 px-4">
        <div class="col-md-8 mx-auto">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        <div class="profile mr-3">
                            <img src="images/5.jpg" alt="..." width="150" class="rounded mb-2 img-thumbnail">

                        </div>
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0" style="font-size:25px; color:white;">Aljamal</h4>
                            <p class="small mb-4" style="padding-bottom: 10px;">
                                <i class="fas fa-map-marker-alt mr-2" style="font-size:15px"></i>Aleppo
                            </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-4 d-flex justify-content-end text-center" dir="rtl">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">

                            <small class="text-muted"> <i class="fa-brands fa-twitter" aria-hidden="true" style="width: 30px !important; font-size: 20px; cursor: pointer;"></i></small>
                        </li>
                        <li class="list-inline-item">

                            <small class="text-muted"> <i class="fa-brands fa-facebook" aria-hidden="true" style="width: 30px !important; font-size: 20px; cursor: pointer;"></i></small>
                        </li>
                        <li class="list-inline-item">

                            <small class="text-muted"> <i class="fa-brands fa-google" aria-hidden="true" style="width: 30px !important; font-size: 20px; cursor: pointer;"></i></small>
                        </li>
                    </ul>
                </div>

                <div class="px-4 py-3" dir="rtl">
                    <h4 class="mb-0" style="text-align:right; font-size:25px">نبذة</h4>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0" style="text-align:right; font-size:20px">شركة طبية</p>
                        <p class="font-italic mb-0 " style="text-align:right; font-size:20px ">متخصصة بمعدات الاسنان المعدنية</p>
                        <p class="font-italic mb-0" style="text-align:right; font-size:20px">مشاركة في جميع الملتقيات العلمية</p>
                    </div>
                </div>
                <div class="px-4 py-3" dir="rtl">
                    <h4 class="mb-0" style="text-align:right; font-size:25px">أفرع الشركة</h4>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0" style="text-align:right; font-size:18px">حلب</p>
                        <p class="font-italic mb-0 " style="text-align:right; font-size:18px ">دمشق</p>
                        <p class="font-italic mb-0" style="text-align:right; font-size:18px">حماة</p>
                    </div>
                </div>
                <div class="px-4 py-3" dir="rtl">
                    <h4 class="mb-0" style="text-align:right; font-size:25px">حساباتنا الالكترونية</h4>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0" style="text-align:right; font-size:18px">فيسبوك:الجمال</p>
                        <p class="font-italic mb-0 " style="text-align:right; font-size:18px ">البريد الالكتروني:الجمال</p>

                    </div>
                </div>
                <div class="py-4 px-4 ">
                    <div class="d-flex align-items-center justify-content-between mb-3 ">
                        <a href="../products/products.html " class="btn btn-link text-muted ">أظهر الكل</a>
                        <h3 class="mb-0 " style="font-size: 20px;">المنتجات</h3>
                    </div>
                    <div class="row ">
                        <div class="col-lg-6 mb-2 pr-lg-1 ph ">
                            <div class="card ">
                                <img src="images/photo_2023-03-25_15-11-46.jpg " alt=" " class="img-fluid rounded shadow-sm ">
                                <div class="card-content" dir="rtl">
                                    <h3 style="font-size: 25px; text-align:right !important; " dir="rtl">
                                        كرسي أسنان
                                    </h3>
                                    <p style="font-size: 18px; text-align:right !important; ">
                                        البلد المصنعة ألمانيا،الشركة المنتجة الجمال
                                    </p>
                                    <a href="../product details/product details.html" class="button" style="color: black; font-size: 18px; text-align:right; ">
                               المزيد من التفاصيل
                                <span class="material-symbols-outlined">
                                    <box-icon name="right-arrow-alt" style="color: white;"></box-icon>
                                </span>
                            </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-2 pl-lg-1 ph ">
                            <div class="card ">
                                <img src="images/photo_2023-03-25_15-11-46.jpg " alt=" " class="img-fluid rounded shadow-sm " style="position: relative; ">
                                <div class="card-content" dir="rtl">
                                    <h3 style="font-size: 25px; text-align:right !important; " dir="rtl">
                                        كرسي أسنان
                                    </h3>
                                    <p style="font-size: 18px; text-align:right !important; ">
                                        البلد المصنعة ألمانيا،الشركة المنتجة الجمال
                                    </p>
                                    <a href="../product details/product details.html" class="button" style="color: black; font-size: 18px; text-align:right; ">
                               المزيد من التفاصيل
                                <span class="material-symbols-outlined">
                                    <box-icon name="right-arrow-alt" style="color: white;"></box-icon>
                                </span>
                            </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 pr-lg-1 mb-2 ph ">
                            <div class="card ">
                                <img src="images/photo_2023-03-25_15-11-35.jpg " alt=" " class="img-fluid rounded shadow-sm ">
                                <div class="card-content" dir="rtl">
                                    <h3 style="font-size: 25px; text-align:right !important; " dir="rtl">
                                        كرسي أسنان
                                    </h3>
                                    <p style="font-size: 18px; text-align:right !important; ">
                                        البلد المصنعة ألمانيا،الشركة المنتجة الجمال
                                    </p>
                                    <a href="../product details/product details.html" class="button" style="color: black; font-size: 18px; text-align:right; ">
                               المزيد من التفاصيل
                                <span class="material-symbols-outlined">
                                    <box-icon name="right-arrow-alt" style="color: white;"></box-icon>
                                </span>
                            </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 pl-lg-1 ph ">
                            <div class="card ">
                                <img src="images/photo_2023-03-25_15-11-35.jpg " alt=" " class="img-fluid rounded shadow-sm ">
                                <div class="card-content" dir="rtl">
                                    <h3 style="font-size: 25px; text-align:right !important; " dir="rtl">
                                        كرسي أسنان
                                    </h3>
                                    <p style="font-size: 18px; text-align:right !important; ">
                                        البلد المصنعة ألمانيا،الشركة المنتجة الجمال
                                    </p>
                                    <a href="../product details/product details.html" class="button" style="color: black; font-size: 18px; text-align:right; ">
                               المزيد من التفاصيل
                                <span class="material-symbols-outlined">
                                    <box-icon name="right-arrow-alt" style="color: white;"></box-icon>
                                </span>
                            </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="footer " style=" background: #363e4e !important; ">
        <div class="container ">
            <div class="row text-center text-xs-center text-sm-left text-md-left ">
                <div class="col-xs-12 col-sm-4 col-md-4 " style="padding-top: 10px;">
                    <h5 style="color: #ffffff;">Quick links</h5>
                    <ul class="list-unstyled quick-links ">
                        <li><a href="javascript:void(); " style="color: #ffffff;"><i class="fa fa-angle-double-right "></i>Home</a></li>
                        <li><a href="javascript:void(); " style="color: #ffffff;"><i class="fa fa-angle-double-right "></i>About</a></li>
                        <li><a href="javascript:void(); " style="color: #ffffff;"><i class="fa fa-angle-double-right "></i>FAQ</a></li>
                        <li><a href="javascript:void(); " style="color: #ffffff;"><i class="fa fa-angle-double-right "></i>Get Started</a></li>
                        <li><a href="javascript:void(); " style="color: #ffffff;"><i class="fa fa-angle-double-right "></i>Videos</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 " style="padding-top: 10px;">
                    <h5 style="color: #ffffff;">Quick links</h5>
                    <ul class="list-unstyled quick-links ">
                        <li><a href="javascript:void(); " style="color: #ffffff;"><i class="fa fa-angle-double-right "></i>Home</a></li>
                        <li><a href="javascript:void(); " style="color: #ffffff;"><i class="fa fa-angle-double-right "></i>About</a></li>
                        <li><a href="javascript:void(); " style="color: #ffffff;"><i class="fa fa-angle-double-right "></i>FAQ</a></li>
                        <li><a href="javascript:void(); " style="color: #ffffff;"><i class="fa fa-angle-double-right "></i>Get Started</a></li>
                        <li><a href="javascript:void(); " style="color: #ffffff;"><i class="fa fa-angle-double-right "></i>Videos</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 " style="padding-top: 10px;">
                    <h5 style="color: #ffffff;">Quick links</h5>
                    <ul class="list-unstyled quick-links ">
                        <li><a href="javascript:void(); " style="color: #ffffff;"><i class="fa fa-angle-double-right "></i>Home</a></li>
                        <li><a href="javascript:void(); " style="color: #ffffff;"><i class="fa fa-angle-double-right "></i>About</a></li>
                        <li><a href="javascript:void(); " style="color: #ffffff;"><i class="fa fa-angle-double-right "></i>FAQ</a></li>
                        <li><a href="javascript:void(); " style="color: #ffffff;"><i class="fa fa-angle-double-right "></i>Get Started</a></li>
                        <li><a href="https://wwwe.sunlimetech.com " title="Design and developed by " style="color: #ffffff;"><i
                                    class="fa fa-angle-double-right "></i>Imprint</a></li>
                    </ul>
                </div>
            </div>
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5 ">
                    <ul class="list-unstyled list-inline social text-center ">
                        <li class="list-inline-item "><a href="javascript:void(); " style="color: #ffffff;"><i class="fa fa-facebook "></i></a>
                        </li>
                        <li class="list-inline-item "><a href="javascript:void(); " style="color: #ffffff;"><i class="fa fa-twitter "></i></a></li>
                        <li class="list-inline-item "><a href="javascript:void(); " style="color: #ffffff;"><i class="fa fa-instagram "></i></a>
                        </li>
                        <li class="list-inline-item "><a href="javascript:void(); " style="color: #ffffff;"><i class="fa fa-google-plus "></i></a>
                        </li>
                        <li class="list-inline-item "><a href="javascript:void(); " target="_blank " style="color: #ffffff;"><i
                                    class="fa fa-envelope "></i></a></li>
                    </ul>
                </div>
                </hr>
            </div>
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white ">
                    <p><u><a href="https://www.nationaltransaction.com/ ">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
                    <p class="h6 ">&copy All right Reversed.<a class="text-green ml-2 " href="https://www.sunlimetech.com " target="_blank ">Sunlimetech</a></p>
                </div>
                </hr>
            </div>
        </div>
    </section>


    <!-- Including Jquery -->
    <script src="assets/js/vendor/jquery-3.3.1.min.js "></script>
    <script src="assets/js/vendor/jquery.cookie.js "></script>
    <script src="assets/js/vendor/modernizr-3.6.0.min.js "></script>
    <script src="assets/js/vendor/wow.min.js "></script>
    <!-- Including Javascript -->
    <script src="assets/js/bootstrap.min.js "></script>
    <script src="assets/js/plugins.js "></script>
    <script src="assets/js/popper.min.js "></script>
    <script src="assets/js/lazysizes.js "></script>
    <script src="assets/js/main.js "></script>


</body>

</html>